
debug.log
img/.png
!img/300_Bitcoin_QR_code.png
!img/300_Dash_QR_code.png
!img/300_Ethereum_QR_code.png
!img/300_ZCASH_QR_code.png
kairos.cfg
*.pyc
*.bat
dist/*.gz
dist/*.exe
tv/*.yaml
!tv/_example.yaml
!tv/_browse.yaml
!tv/refresh.yaml
build/
.idea/
