
debug.log
img/Bitcoin_QR_code.png
img/Dash_QR_code.png
img/Ethereum_QR_code.png
img/ZCASH_QR_code.png
kairos.cfg
*.pyc
tv/daily.yaml
build/lib/kairos/__init__.py
build/lib/kairos/debug.py
build/lib/kairos/timing.py
build/lib/kairos/tools.py
build/lib/tv/__init__.py
build/lib/tv/tv.py
.idea/dictionaries/Sanne.xml
.idea/Kairos.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
