# This file is here to be crawled by pyup.io so it can scan for known securiy issues with packages
# IMPORTANT!! use python setup.py install to install Kairos
setuptools
pyyaml
beautifulsoup4
selenium
configparser
pip
Pillow
requests
gspread
google-api-python-client
oauth2client
pymongo
dill
numpy
fastnumbers
psutil
Cython
tqdm
soupsieve
coloredlogs
selenium-stealth
# linux
#pyvirtualdisplay # pyup: ignore
# macos
#pyobjc-core # pyup: ignore
#pyobjc # pyup: ignore
