# This file is here to be crawled by pyup.io so it can scan for known securiy issues with packages
# IMPORTANT!! use python setup.py install to install Kairos
setuptools
pyyaml
beautifulsoup4
urllib3>=1.26,<3
selenium
configparser
pip
Pillow
requests
gspread
google-api-python-client
oauth2client
pymongo
dill
numpy
fastnumbers
psutil
Cython
tqdm
soupsieve
# linux
python3-Xlib # pyup: ignore
pyvirtualdisplay # pyup: ignore
# macos
pyobjc-core # pyup: ignore
pyobjc # pyup: ignore
